.accordion {
  overflow: hidden;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.accordion .accordion-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: rgba(209, 213, 219, 0.25);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.accordion .accordion-head .open, .accordion .accordion-head .close {
  transform: var(--tw-transform);
  cursor: pointer;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion .accordion-head .open.rotate, .accordion .accordion-head .close.rotate {
  --tw-rotate: 180deg;
  transform: var(--tw-transform);
}

.accordion .accordion-head .open {
  font-size: 1.5rem;
  line-height: 2rem;
}

.accordion.focused .accordion-head:focus {
  background-color: rgba(206, 233, 255, 0.1);
}

.accordion.focused .accordion-head:focus + .accordion-content {
  z-index: 10;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  opacity: 1;
}

.accordion.focused .accordion-head:focus .open {
  --tw-rotate: 180deg;
  transform: var(--tw-transform);
  transform: var(--tw-transform);
}

.accordion .accordion-content {
  position: relative;
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  background-color: rgba(243, 244, 246, 0.5);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  height: 0px;
}

.accordion .accordion-content.is-active {
  z-index: 10;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  opacity: 1;
}

.alert {
  position: relative;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  padding: 1.5rem;
  --tw-shadow: 0 6px 26px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.alert p {
  margin-bottom: 0px;
}

.alert.primary {
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alert.secondary {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alert.tertiary {
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alert.danger {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alert.warning {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 211, 77, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alert.success {
  --tw-bg-opacity: 1;
  background-color: rgba(52, 211, 153, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alert.info {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.alert.flat {
  border-radius: 0px;
}

.alert.flat .close-alert {
  border-radius: 0px;
}

.alert.full-rounded {
  border-radius: 1rem;
}

.alert.full-rounded .close-alert {
  border-radius: 1rem;
}

.alert .close-alert {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.alert .close-alert:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(185, 28, 28, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state {
  display: inline-block;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 600;
}

.state.primary {
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state.secondary {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state.tertiary {
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state.danger {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state.warning {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state.success {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state.info {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.state.primary-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.state.secondary-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 135, 54, var(--tw-text-opacity));
}

.state.tertiary-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(112, 55, 148, var(--tw-text-opacity));
}

.state.danger-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.state.warning-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(251, 191, 36, var(--tw-text-opacity));
}

.state.success-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.state.info-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.state.semi-primary {
  background-color: rgba(47, 112, 200, 0.3);
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.state.semi-secondary {
  background-color: rgba(255, 135, 54, 0.3);
  --tw-text-opacity: 1;
  color: rgba(255, 118, 27, var(--tw-text-opacity));
}

.state.semi-tertiary {
  background-color: rgba(112, 55, 148, 0.3);
  --tw-text-opacity: 1;
  color: rgba(112, 55, 148, var(--tw-text-opacity));
}

.state.semi-danger {
  background-color: rgba(239, 68, 68, 0.3);
  --tw-text-opacity: 1;
  color: rgba(220, 38, 38, var(--tw-text-opacity));
}

.state.semi-warning {
  background-color: rgba(251, 191, 36, 0.3);
  --tw-text-opacity: 1;
  color: rgba(217, 119, 6, var(--tw-text-opacity));
}

.state.semi-success {
  background-color: rgba(16, 185, 129, 0.3);
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}

.state.semi-info {
  background-color: rgba(59, 130, 246, 0.3);
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}

.state.has-icon {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.state .icon {
  margin-left: 0.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.button {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

.button svg {
  display: inline-block;
}

.button.button-primary {
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-primary:hover {
  --tw-border-opacity: 1;
  border-color: rgba(24, 95, 192, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(24, 95, 192, var(--tw-bg-opacity));
}

.button.button-primary-outline {
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.button.button-primary-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-primary-flat {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-primary-flat:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
}

.button.button-primary-flat-outline {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.button.button-primary-flat-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-primary-rounded {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-primary-rounded:hover {
  --tw-border-opacity: 1;
  border-color: rgba(24, 95, 192, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(24, 95, 192, var(--tw-bg-opacity));
}

.button.button-primary-rounded-outline {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.button.button-primary-rounded-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(47, 112, 200, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-secondary {
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-secondary:hover {
  --tw-border-opacity: 1;
  border-color: rgba(255, 118, 27, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 118, 27, var(--tw-bg-opacity));
}

.button.button-secondary-outline {
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 135, 54, var(--tw-text-opacity));
}

.button.button-secondary-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-secondary-flat {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-secondary-flat:hover {
  --tw-border-opacity: 1;
  border-color: rgba(255, 118, 27, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 118, 27, var(--tw-bg-opacity));
}

.button.button-secondary-flat-outline {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 135, 54, var(--tw-text-opacity));
}

.button.button-secondary-flat-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-secondary-rounded {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-secondary-rounded:hover {
  --tw-border-opacity: 1;
  border-color: rgba(255, 118, 27, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 118, 27, var(--tw-bg-opacity));
}

.button.button-secondary-rounded-outline {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(255, 135, 54, var(--tw-text-opacity));
}

.button.button-secondary-rounded-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(255, 135, 54, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-tertiary {
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-tertiary:hover {
  --tw-border-opacity: 1;
  border-color: rgba(93, 27, 133, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(93, 27, 133, var(--tw-bg-opacity));
}

.button.button-tertiary-outline {
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(112, 55, 148, var(--tw-text-opacity));
}

.button.button-tertiary-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-tertiary-flat {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-tertiary-flat:hover {
  --tw-border-opacity: 1;
  border-color: rgba(93, 27, 133, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(93, 27, 133, var(--tw-bg-opacity));
}

.button.button-tertiary-flat-outline {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(112, 55, 148, var(--tw-text-opacity));
}

.button.button-tertiary-flat-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-tertiary-rounded {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-tertiary-rounded:hover {
  --tw-border-opacity: 1;
  border-color: rgba(93, 27, 133, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(93, 27, 133, var(--tw-bg-opacity));
}

.button.button-tertiary-rounded-outline {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(112, 55, 148, var(--tw-text-opacity));
}

.button.button-tertiary-rounded-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(112, 55, 148, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(112, 55, 148, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-danger {
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-danger:hover {
  --tw-border-opacity: 1;
  border-color: rgba(220, 38, 38, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}

.button.button-danger-outline {
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.button.button-danger-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-danger-flat {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-danger-flat:hover {
  --tw-border-opacity: 1;
  border-color: rgba(220, 38, 38, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}

.button.button-danger-flat-outline {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.button.button-danger-flat-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-danger-rounded {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-danger-rounded:hover {
  --tw-border-opacity: 1;
  border-color: rgba(220, 38, 38, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}

.button.button-danger-rounded-outline {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.button.button-danger-rounded-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-warning {
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-warning:hover {
  --tw-border-opacity: 1;
  border-color: rgba(245, 158, 11, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.button.button-warning-outline {
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(251, 191, 36, var(--tw-text-opacity));
}

.button.button-warning-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-warning-flat {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-warning-flat:hover {
  --tw-border-opacity: 1;
  border-color: rgba(245, 158, 11, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.button.button-warning-flat-outline {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(251, 191, 36, var(--tw-text-opacity));
}

.button.button-warning-flat-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-warning-rounded {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-warning-rounded:hover {
  --tw-border-opacity: 1;
  border-color: rgba(245, 158, 11, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.button.button-warning-rounded-outline {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(251, 191, 36, var(--tw-text-opacity));
}

.button.button-warning-rounded-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-success {
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-success:hover {
  --tw-border-opacity: 1;
  border-color: rgba(5, 150, 105, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}

.button.button-success-outline {
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.button.button-success-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-success-flat {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-success-flat:hover {
  --tw-border-opacity: 1;
  border-color: rgba(5, 150, 105, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}

.button.button-success-flat-outline {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.button.button-success-flat-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-success-rounded {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-success-rounded:hover {
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.button.button-success-rounded-outline {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.button.button-success-rounded-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-info {
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-info:hover {
  --tw-border-opacity: 1;
  border-color: rgba(37, 99, 235, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}

.button.button-info-outline {
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.button.button-info-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-info-flat {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-info-flat:hover {
  --tw-border-opacity: 1;
  border-color: rgba(37, 99, 235, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}

.button.button-info-flat-outline {
  border-radius: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.button.button-info-flat-outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-info-rounded {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.button-info-rounded:hover {
  --tw-border-opacity: 1;
  border-color: rgba(37, 99, 235, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}

.button.button-info-rounded-outline {
  border-radius: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.button.button-info-rounded-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button.is-small {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button.is-large {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}

.card {
  overflow: hidden;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card .card-header {
  aspect-ratio: 16/9;
  overflow: hidden;
}

.card .card-content {
  padding: 1.5rem;
}

.card .card-content .card-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.card .card-content p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.card .card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top-width: 1px;
  border-color: rgba(229, 231, 235, 0.5);
  padding: 1.5rem;
}

.card.card-image {
  position: relative;
  height: 12rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card.card-image .card-content {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.card.card-image .card-content .card-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.card.card-image .card-content p {
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1;
}

.card.card-image .card-category {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(47, 112, 200, var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.card.card-user {
  padding: 1rem;
}

.card.card-user .card-head {
  display: flex;
  flex-wrap: wrap;
}

.card.card-user .card-head h5 {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(1, 78, 184, var(--tw-text-opacity));
}

.card.card-user .card-head p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.card.card-user .card-head .user-profile {
  margin-right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 9999px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card.card-user .card-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0px;
  padding-right: 0px;
}

.card.card-user .card-footer {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1rem;
  padding-bottom: 0px;
}

.slider, .carousel {
  position: relative;
}

.content-slider {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  aspect-ratio: 16/9;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  overflow-x: auto;
}

.content-slider .slide {
  scroll-snap-align: center;
  aspect-ratio: 16/9;
  display: grid;
  height: 100%;
  place-content: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.content-slider::-webkit-scrollbar {
  display: none;
}

.dots {
  position: absolute;
  bottom: 1.25rem;
  margin-top: 1.25rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.dots .dot {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: var(--tw-transform);
  transform: var(--tw-transform);
  cursor: pointer;
  border-radius: 9999px;
  background-color: rgba(107, 114, 128, 0.8);
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dots .dot:hover, .dots .dot.active {
  transform: scale(1.25);
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: var(--tw-transform);
  --tw-bg-opacity: 1;
  background-color: rgba(255, 135, 54, var(--tw-bg-opacity));
}

.btn-slide {
  position: absolute;
  top: 50%;
  height: 2.5rem;
  width: 2.5rem;
  --tw-translate-y: -50%;
  transform: var(--tw-transform);
  transform: var(--tw-transform);
  cursor: pointer;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-slide:hover {
  --tw-bg-opacity: 0.5;
}

.btn-slide.prev {
  left: 1.25rem;
}

.btn-slide.next {
  right: 1.25rem;
}

.content-carousel {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.content-carousel .carousel-item {
  scroll-snap-align: start;
  display: grid;
  height: 8rem;
  place-content: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: calc(25% - 10px);
  flex: 0 0 calc(25% - 10px);
}

.content-carousel::-webkit-scrollbar {
  display: none;
}

.btn-carousel {
  position: absolute;
  top: 50%;
  height: 2.5rem;
  width: 2.5rem;
  --tw-translate-y: -50%;
  transform: var(--tw-transform);
  transform: var(--tw-transform);
  cursor: pointer;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-carousel:hover {
  --tw-bg-opacity: 0.5;
}

.btn-carousel.prev {
  left: 1.25rem;
}

.btn-carousel.next {
  right: 1.25rem;
}

.comment {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.comment .comment-head {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5rem;
}

.comment .comment-head .image {
  margin-right: 0.5rem;
  height: 4rem;
  width: 4rem;
}

.comment .comment-head .name {
  font-weight: 600;
}

.comment .comment-head .profession {
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.comment .comment-head .date {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.comment .comment-content {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: rgba(229, 231, 235, 0.5);
  padding: 1.5rem;
}

.comment .comment-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.comment .comment-footer > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.comment .comment-footer {
  padding: 1.5rem;
}

.footer {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer .copyright {
  margin-bottom: 0px;
}

.footer .footer-menu > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.footer .footer-menu a {
  display: inline-block;
  font-weight: 600;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-menu a:hover {
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.footer .social-media {
  display: flex;
}

.footer .social-media > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.footer .social-media a {
  display: inline-block;
  font-weight: 600;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-media a:hover {
  --tw-text-opacity: 1;
  color: rgba(47, 112, 200, var(--tw-text-opacity));
}

.footer.has-menu, .footer.has-media, .footer.has-media-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding: 2rem;
}

.double-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.double-field .field {
  width: calc(50% - 10px);
  flex: 0 0 calc(50% - 10px);
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.field.field-button {
  margin-top: 1.5rem;
}

.label {
  margin-bottom: 0.25rem;
  display: block;
  font-weight: 600;
}

.input, .textarea, .select-inner {
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgba(229, 231, 235, 0.6);
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(34, 34, 34, var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input:focus, .textarea:focus, .select-inner:focus {
  --tw-border-opacity: 1;
  border-color: rgba(115, 164, 223, var(--tw-border-opacity));
}

.textarea {
  max-height: 8rem;
  min-height: 6rem;
  resize: vertical;
}

.radio-group, .check-group {
  display: flex;
  flex-wrap: wrap;
}

.radio-group > *:not(:last-child), .check-group > *:not(:last-child) {
  margin-right: 0.75rem;
}

.radio-group .checkbox, .radio-group .radio, .check-group .checkbox, .check-group .radio {
  cursor: pointer;
}

.radio-group .label, .check-group .label {
  margin-left: 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
}

.has-icon .input-icon {
  position: relative;
}

.has-icon .input-icon .icon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.has-icon .input-icon .input {
  padding-left: 2.5rem;
}

.has-button .input-button {
  display: flex;
}

.has-button .input-button .input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.has-button .input-button .button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.has-select .input-select {
  display: flex;
}

.has-select .input-select .select-inner {
  width: 25%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 0.5rem;
  padding-right: 0px;
}

.has-select .input-select .input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.has-select-button .input-select-button {
  display: flex;
}

.has-select-button .input-select-button .select-inner {
  width: 25%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 0.5rem;
  padding-right: 0px;
}

.has-select-button .input-select-button .input {
  border-radius: 0px;
}

.has-select-button .input-select-button .button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.image {
  overflow: hidden;
}

.image.is-rounded {
  border-radius: 0.25rem;
}

.image.is-circle {
  border-radius: 9999px;
}

.image.is-shadow {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.image figcaption {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
}

.image.float-caption {
  position: relative;
}

.image.float-caption figcaption {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.list {
  padding-left: 1rem;
}

.list.disordered {
  list-style-type: disc;
}

.list.disordered ul {
  list-style-type: circle;
  padding-left: 1.5rem;
}

.list.ordered {
  list-style-type: decimal;
}

.list.ordered ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

/*# sourceMappingURL=not-idea-ui.css.map */