.navbar {
  @apply flex items-center justify-between flex-wrap w-full px-8 py-4 shadow-base bg-gray-50;
  .logo {
    @apply w-full;
    a {
      @apply text-2xl font-bold text-primary-500 hover:text-primary-700 transition-all duration-400 ease-in-out;
    }
  }
  .menu {
    @apply w-full flex-col list-none space-y-2 mt-2 divide-y-2 divide-slate-100;
    .nav-link {
      @apply block text-lg text-gray-700 font-semibold transition-all duration-400 ease-in-out;
      &:hover,
      &.is-active {
        @apply text-primary-700;
      }
    }
  }
  .menu-icon {
    @apply text-3xl text-dark-800 transition-all duration-400 ease-in-out;
    &:hover {
      @apply text-primary-500;
    }
  }

  &.sticky-menu {

  }
  
  .open-sidebar {
    @apply cursor-pointer ml-auto mr-4 p-2 bg-primary-50 shadow rounded-md transition-all duration-400 ease-in-out;
    span {
      @apply block bg-primary-700 w-7 h-1 rounded-md transition-all duration-400 ease-in-out;
      &:not(:last-child) { @apply mb-1; }
    }
    span:first-child, span:last-child {
      @apply transform rotate-0;
    }
    &:hover, &.is-active {
      @apply bg-primary-700;
      span { @apply bg-white; }
    }
    &.is-active {
      span:nth-child(2) { @apply opacity-0; }
      span:first-child {
        @apply rotate-45 translate-y-2;
      }
      span:last-child {
        @apply -rotate-45 -translate-y-2;
      }
    }
  }
}

@screen md {
  .navbar {
    .logo {
      @apply w-3/12;
    }
    .menu {
      @apply w-auto flex flex-row items-center text-right space-x-4 space-y-0 mt-0 divide-y-0;
    }

    &.is-filled {
      .menu {
        .nav-link {
          @apply px-4 py-1 bg-slate-50 rounded;
          &:hover,
          &.is-active {
            @apply bg-primary-500 text-white;
          }
        }
      }
    }
  }
}

@screen tablet {
  .navbar {
    .open-sidebar { @apply hidden; }
  }
}