.navbar {
  @apply relative flex items-center justify-between flex-wrap w-full px-8 py-4 shadow-base bg-white;
  .logo {
    @apply w-9/12;
    a {
      @apply text-2xl font-bold hover:text-primary-700 transition-all duration-400 ease-in-out;
    }
  }
  .menu {
    @apply absolute -z-1 -top-full opacity-0 left-0 bg-white w-full rounded shadow flex-col list-none divide-y-2 divide-slate-100 transition-all duration-500 ease-in-out;
    .nav-link {
      @apply cursor-pointer px-4 py-2 block text-gray-700 font-semibold transition-all duration-400 ease-in-out;
      &:hover,
      &.is-active {
        @apply text-primary-700;
      }
    }
    .has-submenu {
      .submenu {
        @apply bg-slate-50 px-4 divide-y;
        .nav-link {
          @apply text-base font-medium px-6 py-2;
        }
      }
      &:hover {
        .submenu {
          @apply z-1 opacity-100;
        }
      }
    }
    &.is-opened {
      @apply z-1 top-full opacity-100;
    }
    &.enter-left {
      @apply top-full w-6/12 -left-full;
      &.is-opened {
        @apply z-1 left-0 opacity-100;
      }
    }
    &.enter-right {
      @apply top-full w-6/12 -right-full left-[initial];
      &.is-opened {
        @apply z-1 right-0 opacity-100;
      }
    }
  }
  .menu-icon {
    @apply text-3xl text-gray-800 transition-all duration-400 ease-in-out;
    &:hover {
      @apply text-primary-500;
    }
  }

  .burger-menu {
    @apply cursor-pointer ml-auto mr-4 p-2 bg-primary-50 shadow rounded-md transition-all duration-400 ease-in-out;
    span {
      @apply block bg-primary-700 w-7 h-1 rounded-md transition-all duration-400 ease-in-out;
      &:not(:last-child) { @apply mb-1; }
    }
    span:first-child, span:last-child {
      @apply transform rotate-0;
    }
    &:hover, &.is-active {
      @apply bg-primary-700;
      span { @apply bg-white; }
    }
    &.is-active {
      span:nth-child(2) { @apply opacity-0; }
      span:first-child {
        @apply rotate-45 translate-y-2;
      }
      span:last-child {
        @apply -rotate-45 -translate-y-2;
      }
    }
  }
}

.topbar {
  @apply px-8 py-2 bg-slate-800 flex flex-col flex-wrap lg:flex-row items-center justify-between;
  .slogan-topbar {
    @apply mb-0 text-sm text-white;
  }
  .topbar-menu {
    @apply space-x-4 flex flex-wrap;
    .topbar-link {
      @apply text-white text-sm font-medium transition-all duration-400 ease-in-out;
      &:hover {
        @apply text-secondary-700;
      }
    }
  }
}

@screen lg {
  .navbar {
    .logo {
      @apply w-3/12;
    }
    .menu {
      @apply z-auto relative top-0 opacity-100 w-auto flex flex-row items-center text-right rounded-none shadow-none space-x-4 space-y-0 mt-0 divide-y-0;
      .nav-link {
        @apply  text-lg;
      }
      .has-submenu {
        @apply relative;
        .submenu {
          @apply shadow-md bg-white divide-y divide-slate-100 absolute -z-1 opacity-0 top-full left-1/2 -translate-x-1/2 text-left transition-all duration-300 ease-in-out;
          .nav-link {
            @apply text-base font-medium px-6 py-2;
          }
        }
        &:hover {
          .submenu {
            @apply z-1 opacity-100;
          }
        }
      }
      &.enter-left,
      &.enter-right {
        @apply relative inset-0 w-auto;
      }
    }
    .burger-menu {
      @apply hidden;
    }

    &.is-filled {
      .menu {
        .nav-link {
          @apply px-4 py-1 bg-slate-50 rounded;
          &:hover,
          &.is-active {
            @apply bg-primary-500 text-white;
          }
        }
        .has-submenu {
          .submenu {
            @apply my-2 space-y-2;
          }
        }
      }
    }
    &.is-underline {
      .menu {
        .nav-link {
          @apply relative;
          &::after {
            content: " ";
            width: calc(100% - (5px * 2));
            @apply -translate-x-1/2 left-1/2 rounded block absolute bottom-0 h-1 bg-transparent transition-all duration-400 ease-in-out;
          }

          &:hover, &.is-active {
            @apply text-primary-800;
            &::after {
              @apply bg-primary-800;
            }
          }
        }
        .has-submenu {
          .submenu {
            li:last-child { @apply mb-2; }
          }
        }
      }
    }
  }
}

@screen tablet {
  .navbar {
    .open-sidebar { @apply hidden; }
  }
}
