.accordion {
  @apply bg-white rounded-md overflow-hidden;
}
.accordion .accordion-head {
  @apply w-full outline-none border-b cursor-pointer border-gray-300/25 px-6 py-3 flex flex-wrap justify-between items-center;
}
.accordion .accordion-head .open, .accordion .accordion-head .close {
  @apply transform px-2 cursor-pointer rounded transition-all duration-500 ease-in-out;
}
.accordion .accordion-head .open.rotate, .accordion .accordion-head .close.rotate {
  @apply rotate-180;
}
.accordion .accordion-head .open {
  @apply text-2xl;
}
.accordion.focused .accordion-head:focus {
  @apply bg-primary-50/10;
}
.accordion.focused .accordion-head:focus + .accordion-content {
  @apply opacity-100 h-full py-6 z-10;
}
.accordion.focused .accordion-head:focus .open {
  @apply transform rotate-180;
}
.accordion .accordion-content {
  @apply relative bg-gray-100/50 px-6 py-0 opacity-0 border-l-4 border-primary-700 transition-all duration-500 ease-in-out;
  z-index: -1;
  height: 0px;
}
.accordion .accordion-content.is-active {
  @apply opacity-100 h-full py-6 z-10;
}

.alert {
  @apply rounded bg-gray-200 p-6 shadow-alert relative flex flex-wrap;
}
.alert p {
  @apply mb-0;
}
.alert.primary {
  @apply bg-primary-700 text-white;
}
.alert.secondary {
  @apply bg-secondary-700 text-white;
}
.alert.tertiary {
  @apply bg-tertiary-700 text-white;
}
.alert.danger {
  @apply bg-red-500 text-white;
}
.alert.warning {
  @apply bg-yellow-300 text-white;
}
.alert.success {
  @apply bg-green-400 text-white;
}
.alert.info {
  @apply bg-blue-500 text-white;
}
.alert.flat {
  @apply rounded-none;
}
.alert.flat .close-alert {
  @apply rounded-none;
}
.alert.full-rounded {
  @apply rounded-2xl;
}
.alert.full-rounded .close-alert {
  @apply rounded-2xl;
}
.alert .close-alert {
  @apply inline-block w-6 h-6 cursor-pointer rounded p-1 absolute right-4 top-4 z-10 transition-all duration-400 ease-in-out;
}
.alert .close-alert:hover {
  @apply bg-red-700 text-white;
}

.state {
  @apply inline-block px-4 py-1 font-semibold bg-gray-200 rounded-xl;
}
.state.primary {
  @apply bg-primary-700 text-white;
}
.state.secondary {
  @apply bg-secondary-700 text-white;
}
.state.tertiary {
  @apply bg-tertiary-700 text-white;
}
.state.danger {
  @apply bg-red-500 text-white;
}
.state.warning {
  @apply bg-yellow-400 text-white;
}
.state.success {
  @apply bg-green-500 text-white;
}
.state.info {
  @apply bg-blue-500 text-white;
}
.state.primary-outline {
  @apply text-primary-700 border-2 border-primary-700 bg-transparent;
}
.state.secondary-outline {
  @apply text-secondary-700 border-2 border-secondary-700 bg-transparent;
}
.state.tertiary-outline {
  @apply text-tertiary-700 border-2 border-tertiary-700 bg-transparent;
}
.state.danger-outline {
  @apply text-red-500 border-2 border-red-500 bg-transparent;
}
.state.warning-outline {
  @apply text-yellow-400 border-2 border-yellow-400 bg-transparent;
}
.state.success-outline {
  @apply text-green-500 border-2 border-green-500 bg-transparent;
}
.state.info-outline {
  @apply text-blue-500 border-2 border-blue-500 bg-transparent;
}
.state.semi-primary {
  @apply bg-primary-700/30 text-primary-700;
}
.state.semi-secondary {
  @apply bg-secondary-700/30 text-secondary-800;
}
.state.semi-tertiary {
  @apply bg-tertiary-700/30 text-tertiary-700;
}
.state.semi-danger {
  @apply bg-red-500/30 text-red-600;
}
.state.semi-warning {
  @apply bg-yellow-400/30 text-yellow-600;
}
.state.semi-success {
  @apply bg-green-500/30 text-green-600;
}
.state.semi-info {
  @apply bg-blue-500/30 text-blue-600;
}
.state.has-icon {
  @apply inline-flex flex-wrap items-center;
}
.state.has-icon span {
  @apply flex;
}
.state .icon {
  @apply ml-1 w-5 h-5;
}

.button {
  @apply bg-gray-200 hover:bg-gray-300 border-2 border-gray-200 hover:border-gray-300 rounded px-5 py-2 text-gray-700 inline-block cursor-pointer transition-all duration-400 ease-in-out;
}
.button.button-primary {
  @apply bg-primary-700 border-primary-700 text-white;
}
.button.button-primary:hover {
  @apply bg-primary-800 border-primary-800;
}
.button.button-primary.semi-transparent {
  @apply bg-primary-500 border-primary-300 bg-opacity-20 border-opacity-20 text-primary-700;
}
.button.button-primary.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-primary-outline {
  @apply border-primary-700 text-primary-700 bg-transparent;
}
.button.button-primary-outline:hover {
  @apply bg-primary-700 text-white;
}
.button.button-primary-flat {
  @apply bg-primary-700 border-primary-700 text-white rounded-none;
}
.button.button-primary-flat:hover {
  @apply bg-primary-700;
}
.button.button-primary-flat.semi-transparent {
  @apply bg-primary-500 border-primary-300 bg-opacity-20 border-opacity-20 text-primary-700;
}
.button.button-primary-flat.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-primary-flat-outline {
  @apply border-primary-700 text-primary-700 bg-transparent rounded-none;
}
.button.button-primary-flat-outline:hover {
  @apply bg-primary-700 text-white;
}
.button.button-primary-rounded {
  @apply bg-primary-700 border-primary-700 rounded-3xl text-white;
}
.button.button-primary-rounded:hover {
  @apply bg-primary-800 border-primary-800;
}
.button.button-primary-rounded.semi-transparent {
  @apply bg-primary-500 border-primary-300 bg-opacity-20 border-opacity-20 text-primary-700;
}
.button.button-primary-rounded.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-primary-rounded-outline {
  @apply border-primary-700 text-primary-700 bg-transparent rounded-3xl;
}
.button.button-primary-rounded-outline:hover {
  @apply bg-primary-700 border-primary-700 text-white;
}
.button.button-secondary {
  @apply bg-secondary-700 border-secondary-700 text-white;
}
.button.button-secondary:hover {
  @apply bg-secondary-800 border-secondary-800;
}
.button.button-secondary.semi-transparent {
  @apply bg-secondary-500 border-secondary-300 bg-opacity-20 border-opacity-20 text-secondary-700;
}
.button.button-secondary.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-secondary-outline {
  @apply border-secondary-700 text-secondary-700 bg-transparent;
}
.button.button-secondary-outline:hover {
  @apply bg-secondary-700 text-white;
}
.button.button-secondary-flat {
  @apply bg-secondary-700 border-secondary-700 text-white rounded-none;
}
.button.button-secondary-flat:hover {
  @apply bg-secondary-800 border-secondary-800;
}
.button.button-secondary-flat.semi-transparent {
  @apply bg-secondary-500 border-secondary-300 bg-opacity-20 border-opacity-20 text-secondary-700;
}
.button.button-secondary-flat.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-secondary-flat-outline {
  @apply border-secondary-700 text-secondary-700 bg-transparent rounded-none;
}
.button.button-secondary-flat-outline:hover {
  @apply bg-secondary-700 text-white;
}
.button.button-secondary-rounded {
  @apply bg-secondary-700 border-secondary-700 rounded-3xl text-white;
}
.button.button-secondary-rounded:hover {
  @apply bg-secondary-800 border-secondary-800;
}
.button.button-secondary-rounded.semi-transparent {
  @apply bg-secondary-500 border-secondary-300 bg-opacity-20 border-opacity-20 text-secondary-700;
}
.button.button-secondary-rounded.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-secondary-rounded-outline {
  @apply border-secondary-700 text-secondary-700 bg-transparent rounded-3xl;
}
.button.button-secondary-rounded-outline:hover {
  @apply bg-secondary-700 border-secondary-700 text-white;
}
.button.button-tertiary {
  @apply bg-tertiary-700 border-tertiary-700 text-white;
}
.button.button-tertiary:hover {
  @apply bg-tertiary-800 border-tertiary-800;
}
.button.button-tertiary.semi-transparent {
  @apply bg-tertiary-500 border-tertiary-300 bg-opacity-20 border-opacity-20 text-tertiary-700;
}
.button.button-tertiary.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-tertiary-outline {
  @apply border-tertiary-700 text-tertiary-700 bg-transparent;
}
.button.button-tertiary-outline:hover {
  @apply bg-tertiary-700 text-white;
}
.button.button-tertiary-flat {
  @apply bg-tertiary-700 border-tertiary-700 text-white rounded-none;
}
.button.button-tertiary-flat:hover {
  @apply bg-tertiary-800 border-tertiary-800;
}
.button.button-tertiary-flat.semi-transparent {
  @apply bg-tertiary-500 border-tertiary-300 bg-opacity-20 border-opacity-20 text-tertiary-700;
}
.button.button-tertiary-flat.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-tertiary-flat-outline {
  @apply border-tertiary-700 text-tertiary-700 bg-transparent rounded-none;
}
.button.button-tertiary-flat-outline:hover {
  @apply bg-tertiary-700 text-white;
}
.button.button-tertiary-rounded {
  @apply bg-tertiary-700 border-tertiary-700 rounded-3xl text-white;
}
.button.button-tertiary-rounded:hover {
  @apply bg-tertiary-800 border-tertiary-800;
}
.button.button-tertiary-rounded.semi-transparent {
  @apply bg-tertiary-500 border-tertiary-300 bg-opacity-20 border-opacity-20 text-tertiary-700;
}
.button.button-tertiary-rounded.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-tertiary-rounded-outline {
  @apply border-tertiary-700 text-tertiary-700 bg-transparent rounded-3xl;
}
.button.button-tertiary-rounded-outline:hover {
  @apply bg-tertiary-700 border-tertiary-700 text-white;
}
.button.button-danger {
  @apply bg-red-500 border-red-500 text-white;
}
.button.button-danger:hover {
  @apply bg-red-600 border-red-600;
}
.button.button-danger.semi-transparent {
  @apply bg-red-500 border-red-300 bg-opacity-20 border-opacity-20 text-red-700;
}
.button.button-danger.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-danger-outline {
  @apply border-red-500 text-red-500 bg-transparent;
}
.button.button-danger-outline:hover {
  @apply bg-red-500 text-white;
}
.button.button-danger-flat {
  @apply bg-red-500 border-red-500 text-white rounded-none;
}
.button.button-danger-flat:hover {
  @apply bg-red-600 border-red-600;
}
.button.button-danger-flat.semi-transparent {
  @apply bg-red-500 border-red-300 bg-opacity-20 border-opacity-20 text-red-700;
}
.button.button-danger-flat.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-danger-flat-outline {
  @apply border-red-500 text-red-500 bg-transparent rounded-none;
}
.button.button-danger-flat-outline:hover {
  @apply bg-red-500 text-white;
}
.button.button-danger-rounded {
  @apply bg-red-500 border-red-500 rounded-3xl text-white;
}
.button.button-danger-rounded:hover {
  @apply bg-red-600 border-red-600;
}
.button.button-danger-rounded.semi-transparent {
  @apply bg-red-500 border-red-300 bg-opacity-20 border-opacity-20 text-red-700;
}
.button.button-danger-rounded.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-danger-rounded-outline {
  @apply border-red-500 text-red-500 bg-transparent rounded-3xl;
}
.button.button-danger-rounded-outline:hover {
  @apply bg-red-500 border-red-500 text-white;
}
.button.button-warning {
  @apply bg-yellow-400 border-yellow-400 text-white;
}
.button.button-warning:hover {
  @apply bg-yellow-500 border-yellow-500;
}
.button.button-warning.semi-transparent {
  @apply bg-yellow-500 border-yellow-300 bg-opacity-20 border-opacity-20 text-yellow-700;
}
.button.button-warning.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-warning-outline {
  @apply border-yellow-400 text-yellow-400 bg-transparent;
}
.button.button-warning-outline:hover {
  @apply bg-yellow-400 text-white;
}
.button.button-warning-flat {
  @apply bg-yellow-400 border-yellow-400 text-white rounded-none;
}
.button.button-warning-flat:hover {
  @apply bg-yellow-500 border-yellow-500;
}
.button.button-warning-flat.semi-transparent {
  @apply bg-yellow-500 border-yellow-300 bg-opacity-20 border-opacity-20 text-yellow-700;
}
.button.button-warning-flat.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-warning-flat-outline {
  @apply border-yellow-400 text-yellow-400 bg-transparent rounded-none;
}
.button.button-warning-flat-outline:hover {
  @apply bg-yellow-400 text-white;
}
.button.button-warning-rounded {
  @apply bg-yellow-400 border-yellow-400 rounded-3xl text-white;
}
.button.button-warning-rounded:hover {
  @apply bg-yellow-500 border-yellow-500;
}
.button.button-warning-rounded.semi-transparent {
  @apply bg-yellow-500 border-yellow-300 bg-opacity-20 border-opacity-20 text-yellow-700;
}
.button.button-warning-rounded.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-warning-rounded-outline {
  @apply border-yellow-400 text-yellow-400 bg-transparent rounded-3xl;
}
.button.button-warning-rounded-outline:hover {
  @apply bg-yellow-400 border-yellow-400 text-white;
}
.button.button-success {
  @apply bg-green-500 border-green-500 text-white;
}
.button.button-success:hover {
  @apply bg-green-600 border-green-600;
}
.button.button-success.semi-transparent {
  @apply bg-green-500 border-green-300 bg-opacity-20 border-opacity-20 text-green-700;
}
.button.button-success.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-success-outline {
  @apply border-green-500 text-green-500 bg-transparent;
}
.button.button-success-outline:hover {
  @apply bg-green-500 text-white;
}
.button.button-success-flat {
  @apply bg-green-500 border-green-500 text-white rounded-none;
}
.button.button-success-flat:hover {
  @apply bg-green-600 border-green-600;
}
.button.button-success-flat.semi-transparent {
  @apply bg-green-500 border-green-300 bg-opacity-20 border-opacity-20 text-green-700;
}
.button.button-success-flat.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-success-flat-outline {
  @apply border-green-500 text-green-500 bg-transparent rounded-none;
}
.button.button-success-flat-outline:hover {
  @apply bg-green-500 text-white;
}
.button.button-success-rounded {
  @apply bg-green-500 border-green-500 rounded-3xl text-white;
}
.button.button-success-rounded:hover {
  @apply bg-green-500 border-green-500;
}
.button.button-success-rounded.semi-transparent {
  @apply bg-green-500 border-green-300 bg-opacity-20 border-opacity-20 text-green-700;
}
.button.button-success-rounded.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-success-rounded-outline {
  @apply border-green-500 text-green-500 bg-transparent rounded-3xl;
}
.button.button-success-rounded-outline:hover {
  @apply bg-green-500 border-green-500 text-white;
}
.button.button-info {
  @apply bg-blue-500 border-blue-500 text-white;
}
.button.button-info:hover {
  @apply bg-blue-600 border-blue-600;
}
.button.button-info.semi-transparent {
  @apply bg-blue-500 border-blue-300 bg-opacity-20 border-opacity-20 text-blue-700;
}
.button.button-info.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-info-outline {
  @apply border-blue-500 text-blue-500 bg-transparent;
}
.button.button-info-outline:hover {
  @apply bg-blue-500 text-white;
}
.button.button-info-flat {
  @apply bg-blue-500 border-blue-500 text-white rounded-none;
}
.button.button-info-flat:hover {
  @apply bg-blue-600 border-blue-600;
}
.button.button-info-flat.semi-transparent {
  @apply bg-blue-500 border-blue-300 bg-opacity-20 border-opacity-20 text-blue-700;
}
.button.button-info-flat.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-info-flat-outline {
  @apply border-blue-500 text-blue-500 bg-transparent rounded-none;
}
.button.button-info-flat-outline:hover {
  @apply bg-blue-500 text-white;
}
.button.button-info-rounded {
  @apply bg-blue-500 border-blue-500 rounded-3xl text-white;
}
.button.button-info-rounded:hover {
  @apply bg-blue-600 border-blue-600;
}
.button.button-info-rounded.semi-transparent {
  @apply bg-blue-500 border-blue-300 bg-opacity-20 border-opacity-20 text-blue-700;
}
.button.button-info-rounded.semi-transparent:hover {
  @apply bg-opacity-50 border-opacity-50;
}
.button.button-info-rounded-outline {
  @apply border-blue-500 text-blue-500 bg-transparent rounded-3xl;
}
.button.button-info-rounded-outline:hover {
  @apply bg-blue-500 border-blue-500 text-white;
}
.button.is-small {
  @apply text-sm px-3 py-1;
}
.button.is-large {
  @apply text-xl px-6 py-3;
}
.button.has-icon svg {
  @apply w-5 h-5 inline-block;
}
.button[disabled] {
  @apply opacity-80 cursor-not-allowed;
}

.dropdown {
  @apply relative;
}
.dropdown .dropdown-wrap {
  @apply inline-block rounded-sm cursor-pointer transition-all duration-400 ease-in-out;
}
.dropdown .dropdown-wrap:hover, .dropdown .dropdown-wrap:focus, .dropdown .dropdown-wrap:focus-within {
  @apply text-primary-600;
}
.dropdown .dropdown-wrap .dropdown-wrap-icon {
  @apply inline-block transform transition-all duration-300 ease-in-out;
}
.dropdown .dropdown-content {
  z-index: -1;
  @apply bg-white w-40 overflow-hidden absolute right-0 bottom-auto mt-1 rounded-md shadow-lg opacity-0 transition-all duration-500 ease-in-out list-none;
}
.dropdown .dropdown-content .dropdown-item {
  @apply bg-transparent block text-left text-tertiary-800 px-4 py-2 transition-all duration-400 ease-in-out w-full;
}
.dropdown .dropdown-content .dropdown-item:hover {
  @apply bg-primary-500 text-white;
}
.dropdown .dropdown-content .dropdown-divider {
  @apply my-2 mx-6 border-t-2 border-tertiary-200;
}
.dropdown .dropdown-content .dropdown-title {
  @apply font-semibold px-4 mb-2 text-xs text-tertiary-600 uppercase;
}
.dropdown .dropdown-content.is-fade-up {
  top: 200%;
}
.dropdown .user {
  @apply flex items-center;
}
.dropdown .user svg {
  @apply ml-2 text-white transition-all duration-400 ease-in-out;
}
.dropdown.is-hovered:hover .dropdown-content {
  @apply opacity-100 z-10;
}
.dropdown.is-hovered:hover .dropdown-content.is-fade-up {
  top: 100%;
}
.dropdown.is-hovered:hover .user svg {
  @apply rotate-180;
}
.dropdown.has-large-text .dropdown-content {
  @apply w-auto;
}
.dropdown.has-large-text .dropdown-content .dropdown-item, .dropdown.has-large-text .dropdown-content button {
  @apply whitespace-nowrap;
}

.avatar {
  @apply relative h-12 w-12 rounded-full overflow-hidden;
}
.avatar .initials {
  @apply bg-blue-500 rounded-full overflow-hidden text-sm flex justify-center items-center text-white h-12 w-12 min-h-3-5 font-semibold;
}

.avatar-small {
  @apply absolute bottom-0 right-0 rounded-full w-5 h-5;
}

.link {
  @apply inline-block text-blue-300 transition-all duration-400 ease-in-out;
}
.link.info {
  @apply text-primary-600;
}
.link.info:hover {
  @apply text-primary-700;
}
.link.danger {
  @apply text-red-400;
}
.link.danger:hover {
  @apply text-red-500;
}

.card {
  @apply bg-white shadow rounded overflow-hidden;
}
.card .card-header {
  aspect-ratio: 16/9;
  @apply overflow-hidden;
}
.card .card-header.has-category {
  @apply relative;
}
.card .card-header.has-category .card-category {
  @apply absolute z-1 top-4 right-4 bg-primary-700 rounded-xl px-6 py-1 text-white text-sm;
}
.card .card-content {
  @apply p-6;
}
.card .card-content .card-title {
  @apply text-2xl text-primary-700 font-semibold mb-2;
}
.card .card-content p:not(:last-child) {
  @apply mb-5;
}
.card .card-footer {
  @apply flex flex-wrap justify-between border-t border-gray-200/50 p-6;
}
.card.card-image {
  @apply relative bg-cover bg-center bg-no-repeat h-48;
}
.card.card-image .card-content {
  @apply absolute left-0 bottom-0 w-full text-white p-4 bg-black/50;
}
.card.card-image .card-content .card-title {
  @apply text-white text-lg;
}
.card.card-image .card-content p {
  @apply mb-0 text-sm leading-none;
}
.card.card-image .card-category {
  @apply absolute right-2 top-2 text-white px-4 py-1 bg-primary-700 rounded-3xl text-sm;
}
.card.card-user {
  @apply p-4;
}
.card.card-user .card-head {
  @apply flex flex-wrap;
}
.card.card-user .card-head h5 {
  @apply font-semibold text-primary-900;
}
.card.card-user .card-head p {
  @apply text-sm text-gray-500;
}
.card.card-user .card-head .user-profile {
  @apply w-10 h-10 overflow-hidden rounded-full shadow mr-2;
}
.card.card-user .card-content {
  @apply py-4 px-0;
}
.card.card-user .card-footer {
  @apply pt-4 pb-0 px-0;
}

.slider,
.carousel {
  @apply relative;
}

.content-slider {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  aspect-ratio: 16/9;
  @apply flex overflow-x-scroll w-full;
}
.content-slider .slide {
  scroll-snap-align: center;
  aspect-ratio: 16/9;
  @apply text-white h-full grid place-content-center;
}
.content-slider::-webkit-scrollbar {
  display: none;
}

.dots {
  @apply w-full absolute bottom-5 flex flex-wrap justify-center mt-5;
}
.dots .dot {
  @apply inline-block rounded-full w-4 h-4 mx-1 bg-gray-500/80 shadow-md cursor-pointer transition-all ease-in-out duration-400 transform scale-100;
}
.dots .dot:hover, .dots .dot.active {
  transform: scale(1.25);
  @apply bg-secondary-700 scale-125;
}

.btn-slide {
  @apply transform -translate-y-1/2 cursor-pointer bg-gray-500 bg-opacity-20 w-10 h-10 rounded-md transition-all duration-400 ease-in-out absolute top-1/2;
}
.btn-slide:hover {
  @apply bg-opacity-50;
}
.btn-slide.prev {
  @apply left-5;
}
.btn-slide.next {
  @apply right-5;
}

.content-carousel {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  @apply flex overflow-x-auto w-full;
}
.content-carousel .carousel-item {
  scroll-snap-align: start;
  @apply text-white h-32 grid place-content-center;
  width: calc(25% - 10px);
  flex: 0 0 calc(25% - 10px);
}
.content-carousel::-webkit-scrollbar {
  display: none;
}

.btn-carousel {
  @apply transform -translate-y-1/2 cursor-pointer bg-gray-500 bg-opacity-20 w-10 h-10 rounded-md transition-all duration-400 ease-in-out absolute top-1/2;
}
.btn-carousel:hover {
  @apply bg-opacity-50;
}
.btn-carousel.prev {
  @apply left-5;
}
.btn-carousel.next {
  @apply right-5;
}

.comment {
  @apply bg-white shadow rounded;
}
.comment .comment-head {
  @apply relative p-6 flex flex-wrap items-center;
}
.comment .comment-head .image {
  @apply w-16 h-16 mr-2;
}
.comment .comment-head .name {
  @apply font-semibold;
}
.comment .comment-head .profession {
  @apply text-sm text-gray-500 mb-0 leading-none;
}
.comment .comment-head .date {
  @apply absolute top-4 right-4 z-1 text-gray-400 text-sm;
}
.comment .comment-content {
  @apply p-6 border-t border-b border-gray-200/50;
}
.comment .comment-footer {
  @apply p-6 flex flex-wrap justify-end space-x-4;
}
.comment .comment-respond {
  @apply ml-10 border-l border-gray-300/50 bg-gray-100;
}

.footer {
  @apply bg-white;
}
.footer .footer-top,
.footer .footer-bottom {
  @apply px-8 py-6;
}
.footer .footer-top {
  @apply py-12 bg-slate-500 flex items-start justify-between flex-wrap gap-y-8 lg:gap-0;
}
.footer .footer-top .footer-item {
  @apply basis-full w-full md:basis-[calc(50%-20px)] md:w-[calc(50%-20px)] lg:basis-[calc(25%-20px)] lg:w-[calc(25%-20px)];
}
.footer .footer-bottom {
  @apply bg-slate-800;
}
.footer .copyright {
  @apply mb-0 text-white;
}
.footer .footer-menu {
  @apply space-x-2;
}
.footer .footer-menu a {
  @apply inline-block text-white hover:text-yellow-500 font-semibold transition-all duration-400 ease-in-out;
}
.footer .social-media {
  @apply flex space-x-2;
}
.footer .social-media a {
  @apply inline-block text-white hover:text-yellow-500 font-semibold transition-all duration-400 ease-in-out;
}
.footer .has-menu,
.footer .has-media,
.footer .has-media-menu {
  @apply flex flex-wrap justify-between;
}

.form {
  @apply p-8 rounded bg-white;
}

.double-field {
  @apply flex flex-wrap justify-between;
}
.double-field .field {
  width: calc(50% - 10px);
  flex: 0 0 calc(50% - 10px);
}

.field:not(:last-child) {
  @apply mb-4;
}
.field.field-button {
  @apply mt-6;
}
.field .label {
  @apply mb-1 block font-semibold;
}
.field .input,
.field .textarea,
.field .select-inner,
.field .input-file {
  @apply w-full text-gray-800 px-5 py-2 rounded bg-gray-100 border border-gray-200/60 outline-none focus:border-primary-400 transition-all duration-300 ease-in-out;
}
.field .input.error,
.field .textarea.error,
.field .select-inner.error,
.field .input-file.error {
  @apply border-red-500 bg-red-500/20;
}
.field .input.error::placeholder,
.field .textarea.error::placeholder,
.field .select-inner.error::placeholder,
.field .input-file.error::placeholder {
  @apply text-red-500/90;
}
.field .input.success,
.field .textarea.success,
.field .select-inner.success,
.field .input-file.success {
  @apply border-green-500 bg-green-500/20;
}
.field .input.success::placeholder,
.field .textarea.success::placeholder,
.field .select-inner.success::placeholder,
.field .input-file.success::placeholder {
  @apply text-green-500/90;
}
.field .input.warning,
.field .textarea.warning,
.field .select-inner.warning,
.field .input-file.warning {
  @apply border-yellow-500 bg-yellow-500/20;
}
.field .input.warning::placeholder,
.field .textarea.warning::placeholder,
.field .select-inner.warning::placeholder,
.field .input-file.warning::placeholder {
  @apply text-yellow-500/90;
}
.field .textarea {
  @apply resize-y min-h-24 max-h-32;
}
.field .input-file {
  @apply p-2 cursor-pointer;
}
.field .input-file:hover {
  @apply bg-primary-500 text-white;
}
.field .radio-group,
.field .check-group {
  @apply flex flex-wrap;
}
.field .radio-group > *:not(:last-child),
.field .check-group > *:not(:last-child) {
  @apply mr-3;
}
.field .checkbox,
.field .radio {
  @apply cursor-pointer;
}
.field .checkbox .label,
.field .radio .label {
  @apply inline-block font-normal ml-2 cursor-pointer;
}

.has-icon .input-icon {
  @apply relative;
}
.has-icon .input-icon .icon {
  @apply inline-block text-gray-500 w-6 h-6 absolute left-2 top-2;
}
.has-icon .input-icon .input {
  @apply pl-10;
}

.has-button .input-button {
  @apply flex;
}
.has-button .input-button .input {
  @apply rounded-tr-none rounded-br-none;
}
.has-button .input-button .button {
  @apply rounded-tl-none rounded-bl-none;
}

.has-select .input-select {
  @apply flex;
}
.has-select .input-select .select-inner {
  @apply rounded-tr-none rounded-br-none w-3/12 pl-2 pr-0 bg-white/90;
}
.has-select .input-select .input {
  @apply rounded-tl-none rounded-bl-none;
}

.has-select-button .input-select-button {
  @apply flex;
}
.has-select-button .input-select-button .select-inner {
  @apply rounded-tr-none rounded-br-none w-auto flex-1 pl-2 pr-0 bg-white/90;
}
.has-select-button .input-select-button .input {
  @apply rounded-none;
}
.has-select-button .input-select-button .button {
  @apply rounded-tl-none rounded-bl-none;
}

.field-select {
  position: relative;
  width: auto;
  display: inline-block;
}
.field-select::after {
  content: " ";
  display: block;
  position: absolute;
  top: 45%;
  right: 15px;
  z-index: 10;
  border-width: 6px;
  border-color: #CCC transparent transparent transparent;
}
.field-select .select-items {
  padding: 16px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  min-height: 90px;
  max-height: 200px;
  overflow-y: scroll;
}
.field-select .select-items li {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.field-select .select-items li:hover {
  background-color: #EDEDED;
}
.field-select .select-items li:not(:last-child) {
  border-bottom: 1px solid #EEE;
}

.select-search {
  border-radius: 0.25rem;
  border: 1px solid rgb(229, 231, 235);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
}
.select-search:focus + .select-items {
  z-index: 20;
  opacity: 1;
}

.image {
  @apply overflow-hidden;
}
.image.is-rounded {
  @apply rounded;
}
.image.is-circle {
  @apply rounded-full;
}
.image.is-shadow {
  @apply shadow-md;
}
.image figcaption {
  @apply px-2 pt-1;
}
.image.float-caption {
  @apply relative;
}
.image.float-caption figcaption {
  @apply absolute left-0 right-0 bottom-0 z-10 p-4 bg-black/60 text-white;
}

.list {
  @apply pl-4;
}
.list.disordered {
  @apply list-disc;
}
.list.disordered ul {
  @apply list-circle pl-6;
}
.list.ordered {
  @apply list-decimal;
}
.list.ordered ol {
  @apply list-decimal pl-6;
}

.navbar {
  @apply relative flex items-center justify-between flex-wrap w-full px-8 py-4 shadow-base bg-white;
}
.navbar .logo {
  @apply w-9/12;
}
.navbar .logo a {
  @apply text-2xl font-bold hover:text-primary-700 transition-all duration-400 ease-in-out;
}
.navbar .menu {
  @apply absolute -z-1 -top-full opacity-0 left-0 bg-white w-full rounded shadow flex-col list-none divide-y-2 divide-slate-100 transition-all duration-500 ease-in-out;
}
.navbar .menu .nav-link {
  @apply px-4 py-2 block text-gray-700 font-semibold transition-all duration-400 ease-in-out;
}
.navbar .menu .nav-link:hover, .navbar .menu .nav-link.is-active {
  @apply text-primary-700;
}
.navbar .menu .has-submenu .submenu {
  @apply bg-slate-50 px-4 divide-y;
}
.navbar .menu .has-submenu .submenu .nav-link {
  @apply text-base font-medium px-6 py-2;
}
.navbar .menu .has-submenu:hover .submenu {
  @apply z-1 opacity-100;
}
.navbar .menu.is-opened {
  @apply z-1 top-full opacity-100;
}
.navbar .menu.enter-left {
  @apply top-full w-6/12 -left-full;
}
.navbar .menu.enter-left.is-opened {
  @apply z-1 left-0 opacity-100;
}
.navbar .menu.enter-right {
  @apply top-full w-6/12 -right-full left-[initial];
}
.navbar .menu.enter-right.is-opened {
  @apply z-1 right-0 opacity-100;
}
.navbar .menu-icon {
  @apply text-3xl text-gray-800 transition-all duration-400 ease-in-out;
}
.navbar .menu-icon:hover {
  @apply text-primary-500;
}
.navbar .burger-menu {
  @apply cursor-pointer ml-auto mr-4 p-2 bg-primary-50 shadow rounded-md transition-all duration-400 ease-in-out;
}
.navbar .burger-menu span {
  @apply block bg-primary-700 w-7 h-1 rounded-md transition-all duration-400 ease-in-out;
}
.navbar .burger-menu span:not(:last-child) {
  @apply mb-1;
}
.navbar .burger-menu span:first-child, .navbar .burger-menu span:last-child {
  @apply transform rotate-0;
}
.navbar .burger-menu:hover, .navbar .burger-menu.is-active {
  @apply bg-primary-700;
}
.navbar .burger-menu:hover span, .navbar .burger-menu.is-active span {
  @apply bg-white;
}
.navbar .burger-menu.is-active span:nth-child(2) {
  @apply opacity-0;
}
.navbar .burger-menu.is-active span:first-child {
  @apply rotate-45 translate-y-2;
}
.navbar .burger-menu.is-active span:last-child {
  @apply -rotate-45 -translate-y-2;
}

@screen lg {
  .navbar .logo {
    @apply w-3/12;
  }
  .navbar .menu {
    @apply z-auto relative top-0 opacity-100 w-auto flex flex-row items-center text-right rounded-none shadow-none space-x-4 space-y-0 mt-0 divide-y-0;
  }
  .navbar .menu .nav-link {
    @apply text-lg;
  }
  .navbar .menu .has-submenu {
    @apply relative;
  }
  .navbar .menu .has-submenu .submenu {
    @apply shadow-md bg-white divide-y divide-slate-100 absolute -z-1 opacity-0 top-full left-1/2 -translate-x-1/2 text-left transition-all duration-300 ease-in-out;
  }
  .navbar .menu .has-submenu .submenu .nav-link {
    @apply text-base font-medium px-6 py-2;
  }
  .navbar .menu .has-submenu:hover .submenu {
    @apply z-1 opacity-100;
  }
  .navbar .menu.enter-left, .navbar .menu.enter-right {
    @apply relative inset-0 w-auto;
  }
  .navbar .burger-menu {
    @apply hidden;
  }
  .navbar.is-filled .menu .nav-link {
    @apply px-4 py-1 bg-slate-50 rounded;
  }
  .navbar.is-filled .menu .nav-link:hover, .navbar.is-filled .menu .nav-link.is-active {
    @apply bg-primary-500 text-white;
  }
  .navbar.is-filled .menu .has-submenu .submenu {
    @apply my-2 space-y-2;
  }
  .navbar.is-underline .menu .nav-link {
    @apply relative;
  }
  .navbar.is-underline .menu .nav-link::after {
    content: " ";
    width: calc(100% - 10px);
    @apply -translate-x-1/2 left-1/2 rounded block absolute bottom-0 h-1 bg-transparent transition-all duration-400 ease-in-out;
  }
  .navbar.is-underline .menu .nav-link:hover, .navbar.is-underline .menu .nav-link.is-active {
    @apply text-primary-800;
  }
  .navbar.is-underline .menu .nav-link:hover::after, .navbar.is-underline .menu .nav-link.is-active::after {
    @apply bg-primary-800;
  }
  .navbar.is-underline .menu .has-submenu .submenu li:last-child {
    @apply mb-2;
  }
}
@screen tablet {
  .navbar .open-sidebar {
    @apply hidden;
  }
}
.pagination,
.pages-list,
.page-prev,
.page-next {
  @apply flex flex-wrap justify-center items-center;
}

.pagination.is-rounded .page-prev,
.pagination.is-rounded .page-next,
.pagination.is-rounded .page-link {
  @apply rounded;
}
.pagination.is-circle .page-prev,
.pagination.is-circle .page-next,
.pagination.is-circle .page-link {
  @apply rounded-full;
}
.pagination.is-group .pages-list {
  @apply space-x-0 divide-x-[1px] divide-gray-200;
}
.pagination.is-group .page-prev,
.pagination.is-group .page-next {
  @apply mx-0;
}
.pagination.is-group .page-prev {
  @apply border-r-[1px] border-gray-200 rounded-bl rounded-tl;
}
.pagination.is-group .page-next {
  @apply border-l-[1px] border-gray-200 rounded-br rounded-tr;
}

.page-prev,
.page-next,
.page-link {
  @apply bg-white px-4 cursor-pointer py-2 shadow-sm transition-all duration-400 ease-in-out;
}
.page-prev:hover, .page-prev.is-active,
.page-next:hover,
.page-next.is-active,
.page-link:hover,
.page-link.is-active {
  @apply bg-primary-700 text-white;
}
.page-prev.is-disabled,
.page-next.is-disabled,
.page-link.is-disabled {
  @apply bg-gray-100 cursor-not-allowed text-gray-500;
}
.page-prev.is-active.is-disabled,
.page-next.is-active.is-disabled,
.page-link.is-active.is-disabled {
  @apply bg-primary-700 text-white;
}

.pages-list {
  @apply space-x-2;
}

.page-link {
  @apply inline-block;
}

.page-prev {
  @apply mr-4;
}

.page-next {
  @apply ml-4;
}

.sidebar {
  @apply w-3/12 basis-3/12 h-auto overflow-y-auto text-gray-800 bg-white shadow-base overflow-hidden p-6 transition-all duration-500 ease-in-out;
}
.sidebar .sidebar-head {
  @apply flex flex-wrap items-center justify-between;
}
.sidebar .sidebar-head h4 {
  @apply font-semibold w-auto;
}
.sidebar .sidebar-head .close-sidebar {
  @apply cursor-pointer transform transition-all duration-400 ease-in-out;
}
.sidebar .sidebar-head .close-sidebar:hover {
  @apply text-primary-900;
}
.sidebar .sidebar-head .close-sidebar.close {
  @apply rotate-180;
}
.sidebar h5 {
  @apply mb-3;
}
.sidebar .sidebar-nav .sidebar-item {
  @apply font-semibold bg-primary-50/20 px-5 py-2 mb-4 flex flex-wrap items-center rounded transition-all duration-400 ease-in-out;
}
.sidebar .sidebar-nav .sidebar-item .sidebar-icon {
  @apply mr-2;
}
.sidebar .sidebar-nav .sidebar-item .sidebar-icon .tooltip {
  @apply hidden;
}
.sidebar .sidebar-nav .sidebar-item:hover, .sidebar .sidebar-nav .sidebar-item.is-active {
  @apply bg-primary-50 text-primary-900;
}
.sidebar .sidebar-nav .sidebar-item.is-active {
  @apply border-l-6 border-primary-500;
}
.sidebar .sidebar-nav .sidebar-text {
  @apply w-auto;
}
.sidebar .sidebar-divider {
  @apply my-6 border-t border-slate-200/30;
}

@screen tablet {
  .sidebar.is-closed {
    width: 5%;
    @apply px-2 py-6;
  }
  .sidebar.is-closed .sidebar-head {
    @apply justify-center relative pt-2;
  }
  .sidebar.is-closed h4, .sidebar.is-closed h5 {
    @apply w-0 opacity-0 absolute -z-1 transition-all duration-300 ease-in-out;
  }
  .sidebar.is-closed .sidebar-nav .sidebar-item {
    @apply px-3 justify-center;
  }
  .sidebar.is-closed .sidebar-nav .sidebar-item .sidebar-text {
    @apply w-0 opacity-0 absolute -z-1 transition-all duration-300 ease-in-out;
  }
  .sidebar.is-closed .sidebar-nav .sidebar-item .sidebar-icon {
    @apply mr-0;
  }
  .sidebar.is-closed .sidebar-nav .sidebar-item .sidebar-icon .tooltip {
    @apply inline-block;
  }
}
@screen max-md {
  .sidebar {
    @apply absolute w-64 h-full top-0 z-20 -left-100 transition-all duration-500 ease-in-out;
  }
  .sidebar.is-sidebar-open {
    @apply left-0;
  }
  .sidebar .close-sidebar {
    @apply hidden;
  }
}
.tabs-wrapper .tabs-lists {
  @apply list-none flex flex-wrap flex-col md:flex-row;
}
.tabs-wrapper .tab-link {
  @apply inline-block w-full text-lg px-4 py-2 cursor-pointer transition-all duration-500 ease-in-out bg-slate-200/50;
}
.tabs-wrapper .tab-link.is-active, .tabs-wrapper .tab-link:hover {
  @apply bg-primary-700 text-white;
}
.tabs-wrapper.is-underline .tab-link {
  @apply border-b-4 border-gray-100 bg-transparent;
}
.tabs-wrapper.is-underline .tab-link.is-active, .tabs-wrapper.is-underline .tab-link:hover {
  @apply text-primary-700 border-primary-700;
}
.tabs-wrapper.is-left-border .tab-link {
  @apply border-l-4 border-gray-100 bg-transparent;
}
.tabs-wrapper.is-left-border .tab-link.is-active, .tabs-wrapper.is-left-border .tab-link:hover {
  @apply text-primary-700 border-primary-700;
}
.tabs-wrapper .tabs-content .tab-content {
  @apply p-6 bg-gray-100;
}

@media only screen and (max-width: 575px) {
  .tabs-wrapper .tabs-lists {
    @apply overflow-auto;
  }
}
.table-container {
  -webkit-overflow-scrolling: touch;
  @apply max-w-full overflow-auto overflow-y-hidden rounded-md;
}
.table-container.table-shadow {
  @apply rounded shadow-base;
}
.table-container::-webkit-scrollbar {
  @apply h-2;
}
.table-container::-webkit-scrollbar-track {
  @apply bg-slate-100;
}
.table-container::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-500;
}
.table-container::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}

/***** Table *****/
table,
.table {
  @apply w-full max-w-full overflow-hidden;
}
table thead,
.table thead {
  @apply bg-gray-200 text-left text-lg;
}
table thead.has-background,
.table thead.has-background {
  @apply bg-primary-700;
}
table thead.has-background th,
.table thead.has-background th {
  @apply text-white;
}
table tbody.tbody tr,
.table tbody.tbody tr {
  @apply bg-primary-100 bg-opacity-30;
}
table tbody.tbody tr:nth-child(even),
.table tbody.tbody tr:nth-child(even) {
  @apply bg-primary-200 bg-opacity-30;
}
table tbody.tbody tr.tr-link,
.table tbody.tbody tr.tr-link {
  @apply cursor-pointer transition-all duration-400 ease-in-out;
}
table tbody.tbody tr.tr-link:hover,
.table tbody.tbody tr.tr-link:hover {
  @apply bg-opacity-60;
}
table.is-bordered,
.table.is-bordered {
  @apply border border-gray-400;
}
table.is-bordered thead,
.table.is-bordered thead {
  @apply border-b border-gray-400;
}
table.is-bordered tr:not(:last-child),
.table.is-bordered tr:not(:last-child) {
  @apply border-b border-gray-400;
}
table.is-bordered td:not(:last-child), table.is-bordered th:not(:last-child),
.table.is-bordered td:not(:last-child),
.table.is-bordered th:not(:last-child) {
  @apply border-r border-gray-400;
}
table.is-bottom-bordered thead,
table.is-bottom-bordered tr:not(:last-child),
.table.is-bottom-bordered thead,
.table.is-bottom-bordered tr:not(:last-child) {
  @apply border-b border-gray-400;
}
table tr,
.table tr {
  @apply outline-none;
}
table td, table th,
.table td,
.table th {
  @apply px-5 py-2 whitespace-nowrap;
}
